body {
	font-family : Times New Roman, sans-serif;
	color : #fff;
	margin : 0;
	padding : 0;
	box-sizing : content-box;
	background-image: url('images/background.jpg');
  background-size : cover;
  background-attachment: fixed;
  background-position: center;
}

header {
	background-color : #333;
	color : #fff;
	padding : 0 0;
	/*cursor : crosshair;*/
}

nav ul {
	list-style : none;
	padding : 0;
	text-align : center;
	/*cursor : help;*/
}

nav ul li {
	display : inline;
	margin : 0;
	/*cursor : help;*/
}

nav ul li a {
	color : #fff;
	margin : 10%;
	text-decoration : underline overline   #696969;
	/*cursor : help;*/
}

main {
	padding : 2rem;
	text-align : left;
	/*cursor : wait;*/
}

table {
	border : dotted 3px;
	margin: 5%;
}

footer {
	background-color : #333;
	color : #fff;
	opacity: 50%;
	text-align : center;
	padding : 0 0;
	position : fixed;
	width : 100%;
	bottom : 0;
	cursor : grab;
	font-size : 100%;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}

h1 {
  animation-duration: 3s;
  margin: 1%;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}

h2 {
  animation-duration: 3s;
  animation-name: slidein;
}

canvas {
        border: 1px solid black;
}


/* Formes */

.shape0 {
  background-color: #a0a0a0;
  border: 0px solid  #a3a3a3;
  background-repeat: no-repeat;
  max-width: fit-content;
  align-content: center;
  margin-left: 20px;
  opacity: 100%;
  background-position-y: center;
  background-image : url('images/Burger.png');

}

.shape {
  
  width: auto;
  height: auto;
  shape-outside: inset(20px 50px 10px 0 round 50px);
  background-color: #a0a0a0;
  border: 1px solid  #a3a3a3;
  border-radius: 20px;
  padding : 10px;
  margin: 45px;
}


.shape2 {
  float: center;
  width: 48px;
  height: 48px;
  shape-outside: inset(20px 50px 10px 0 round 50px);
  background-image: url('images/AA.webp');
  background-size: 100%;
  border: 1px solid  #a3a3a3;
  border-radius: 30px;
  margin: 45px;
  padding: 5px;
  opacity: 50%;
}

.gen {
  background-color:  #616161;
  border-radius: 10px;
  padding: 20px;
  margin: 2%;
  opacity: 88%
}

.shape4 {
  float: center;
  width: 1200px;
  height: 130px;
  shape-outside: inset(20px 50px 10px 0 round 50px);
  background-color:  #616161;
  border-radius: 10px;
  margin: 45px;
  padding: 0px;
  opacity: 90%
}

.shape5 {
  float: center;
  width: 200px;
  height: 150px;
  shape-outside: inset(20px 50px 10px 0 round 50px);
  background-color:  #616161;
  border-radius: 10px;
  margin: 45px;
  padding: 0px;
  opacity: 90%
}

.shape6 {
  float: center;
  width: 250px;
  height: 900px;
  shape-outside: inset(20px 50px 10px 0 round 50px);
  background-color:  #616161;
  border-radius: 30px;
  margin-bottom: 90px;
  padding: 0px;
  opacity: 90%
}

.shape7 {
  float: center;
  width: 500px;
  height: 200px;
  shape-outside: inset(20px 50px 10px 0 round 50px);
  background-color:  #616161;
  border-radius: 30px;
  margin: 45px;
  padding: 15px;
  opacity: 88%;
  animation-duration: 1s;
  animation-name: slidein;
}

.concept-intro {
  background-color:  #616161;
  border-radius: 10px;
  padding: 20px;
  margin: 2%;
  opacity: 88%
}

.pokeballs {
  background-color:  #616161;
  border-radius: 10px;
  padding: 20px;
  margin: 2%;
  opacity: 88%
}

.types {
  background-color:  #616161;
  border-radius: 10px;
  padding: 20px;
  margin: 2%;
  opacity: 88%
}

/*Animation*/
@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}

@keyframes clignoter {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* menu déroulant */ 

label {
  font-family: sans-serif;
  font-size: 1rem;
  padding-right: 10px;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
}

/* Carrousel */

img {
  max-width: 100%;
}
.slider-container {
  max-width: 350px;
  position: relative;
  margin: auto;
  height: 350px;
  overflow: hidden;
  background-color: #61616198;
  animation-duration: 3s;
  animation-name: slidein;
}
.menu {
  position: absolute;
  left: 0;
  z-index: 11;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.menu label {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #ccc;
  border-radius: 50px;
  margin: 4 2.2em 1em;
}
.menu label:hover,.menu label:focus {
  background: #1c87c9;
}
.slide-input{
  opacity: 0;
  background: #616161;
}
.slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  z-index: 0;
  background-size: contain;
  transition: right 3s 1s ease-in;
}
[id^="slide"]:checked + .slide-img {
  left: 0;
  transition: left 0.5s ease-out;
}

/* Pour mettre les élément sur une seul ligne */

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#charmander {
	background-image: url('images/charmander.png');

}

#charmeleon {
	background-image: url('Images/charmeleon.png');
}

#charizard {
	background-image: url('Images/charizard.png');
}

#squirtle {
	background-image: url('Images/squirtle.png');
}

#wartortle {
	background-image: url('Images/wartortle.png');
}

#blastoise {
	background-image: url('Images/blastoise.png');
}

#bulbasaur {
	background-image: url('Images/bulbasaur.png');
}

#ivysaur {
	background-image: url('Images/ivysaur.png');
}

#venusaur {
	background-image: url('Images/venusaur.png');
}

.main-text {
  text-align: center;
}